node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Capacitor
# capacitor.config.json # Keep this if you use JSON config
# capacitor.config.ts # Keep this

# Android
android/app/build/
android/.gradle/
android/capacitor-cordova-android-plugins/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
